 @import"https://fonts.googleapis.com/css2?family=Bangers&family=Modak&display=swap" rel="stylesheet"";

    html * {
    box-sising: border-box;
}

header{
  color: yellow;
  height: 30px;
  font-size: 20px;
  background-color: black;
  line-height:30px;
  border-radius: 10px;

}

h1 {
  background-position: center;
  height: 150px;
  background-image: url("images/principais/capa.jpg");
  margin-top: 6px;
  margin-bottom: 0;
  background-size: 780px;
  border-radius: 10px;
  }


body{
    background-image: url("images/principais/escola.jpg");
    border:3px  solid orange;
    font-family: sans-serif;
    width: 100%;
    margin: auto;
    padding: 10px;

}

main {

    padding: 6px;
    margin-top: 0%;
}


h2 {
    color: #ff6600;
    font-family: 'Bangers', cursive;
     font-size: 28px;
     text-align: center;
     margin-top: 0px;
     margin-bottom: 0px;
     height: 50px;
     line-height: 45px;
     background-color: #ffd1b3;
     border:  10px solid 	#F0F0F0;
     border-radius:10px;
}

h3 {
    color:darkblue;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 4px;
}


h4 {
    color: darkorange;
     font-size: 20px;
     text-align: center;
     margin-top: 2px;
     margin-bottom: 4px;
     height: 50px;
     line-height: 50px;
     background-color: #ffd1b3;
     border-radius: 5px;
}

h5 {
    color:gray;
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 4px;
}

img{
  border-radius: 10px;
}

#top {
border-radius: 5px;
}

#subtitulo {
  background-color:lightgray;
  border: 2px solid orange;
  padding: 0px;
  margin-top: 8px;
  border-radius: 10px;
}

#principal {
    font-family: 'Modak', cursive;
    color: darkgray;
     text-align: center;
    font-size: 22px;
}

#patrono {
    float: right;
}

p{
    font-family: 'Modak', cursive;
    text-align: justify;
}


#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#grid2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#grid3 {
    display:grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-gap: 10px;
}

#BNCC {
  text-align: center;
}

.par_principal{
    font-family: 'Modak', cursive;
    color: black;
    font-size: 16px;
    padding-right:15px;
}

.par_link{
  font-family: 'Modak', cursive;
  color: blue;
  font-size: 18px;
  text-align: center;
}

.par_fonte{
  font-family: 'Modak', cursive;
  color: rgb(60, 60, 60);
  font-size: 12px;
}

.lista-menu {
  display:grid;
  grid-template-columns:repeat(5,1fr);
  grid-template-rows:30px;
  margin-top: 10px;
  font-size: 16px;
  line-height:40px;
  border-radius: 5px;
}

.menu{
  font-family: 'Modak', cursive;
  background-color: tomato;
  border:1px  solid azure;
  text-decoration: none;
  text-align: center;
  height: 30px;
  line-height:30px;
  border-radius: 5px;
}

.submenu{
  font-family: 'Modak', cursive;
  font-size: 18px;
  text-decoration: none;
  line-height:30px;
}

.menu:hover {
  background-color: lightgray;
  border-radius: 5px;
}


.local {
    background-color: lightgray;
    font-family: 'Modak', cursive;
    border:1px  solid white;
    text-decoration: none;
    text-align: center;
    height: 30px;
    line-height:30px;
    border-radius: 5px;
}

.foto {
    width: 300px;
    padding: 6px;
}

.redes-botao {
  width: 50px;
  padding: 6px;
  border-radius: 25px;
}

.foto-left {
  width: 200px;
  padding: 6px 15px 6px 6px;
  float: left;
}

.botao-left {
width: 55px;
padding-left: 15px;
padding-top: 6px;
float: left;
}

.foto-map {
  width: 700px;
  padding: 10px;
  align-content: center;
}

.cartao {
    background-color:#F0F0F0;
    border: 2px solid orange;
    padding: 10px;
    margin-top: 6px;
    border-radius: 25px;
}

.botao{display:block;
  width: 220px;
    background-color:red;
    color: white;
    padding:4px;
    text-decoration: none;
    text-align: center;
    border-color: gray;
    height:25px;
    line-height: 25px;
    border:1px  solid white;
    font-size: 14px;
    margin: 0 auto;
    border-radius:10px;
}

.botao2{display:block;
  width: 140px;
    background-color:red;
    color: white;
    padding:4px;
    text-decoration: none;
    text-align: center;
    border-color: gray;
    height:25px;
    line-height: 25px;
    border:1px  solid white;
    font-size: 14px;
    margin: 0 auto;
    border-radius:10px;
}

footer {
    color: white;
    background-color: black;
    line-height:30px;
    border: 4px solid orange;
    border-radius: 10px;
}

small {
  font-size: 12px;
}
